{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyBuddy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    {% block extra_css %}
    <!-- Additional CSS files can be added by child templates here -->
    {% endblock %}
  </head>
  <body>
    {% include 'includes/header.html' %}

    <main>
      {% block content %}
      <!-- Page-specific content will go here -->
      {% endblock %}
    </main>

    {% include 'includes/footer.html' %}
  </body>
</html>
