{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'checkout.css' %}">
{% endblock %}
{% block content %}
<section class="checkout-page">
  <h2>Thank you for your order! 🎉</h2>
  <p>Your food is being prepared and will be delivered soon.</p>

  <h3>Order Summary</h3>
  <ul class="cart-list">
    {% for item in cart_items %}
      <li class="cart-item">
        <img src="{% static item.image %}" alt="{{ item.dish_name }}">
        <div>
          <h4>{{ item.dish_name }}</h4>
          <p>Quantity: {{ item.quantity }}</p>
          <p>Total: ₹{{ item.total }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

  <h3>Total Paid: ₹{{ total_price }}</h3>

  <div class="print-container">
    <a href="{% url 'download_invoice' %}" class="confirm-btn">📄 Download Invoice</a>

  </div>
</section>
{% endblock %}
