{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'orderonline.css' %}">
{% endblock %}

{% block content %}
<section class="order-online-page">
  <!-- Order Online Header -->
  <header class="order-online-header">
    <h1>Order Online</h1>
    <p>Select your favorite meal, customize your order, and have it delivered to your doorstep or ready for pickup!</p>
  </header>

  <section class="search-filter">
    <input type="text" id="search-bar" placeholder="Search for a meal..." onkeyup="filterMenu()">
  
    <select id="category-filter" onchange="filterMenu()">
      <option value="all">All Categories</option>
      <option value="south-indian">South Indian</option>
      <option value="north-indian">North Indian</option>
      <option value="street-food">Street Food</option>
      <option value="breads">Breads</option>
      <option value="non-veg-specials">Non-Veg Specials</option>
      <option value="desserts">Desserts</option>
      <option value="beverages">Beverages</option>
    </select>
    
  </section>

  <section class="menu-grid">
    {% if menu %}
      {% for item in menu %}
        <div class="menu-item"  data-category="{{ item.category }}">
          <img src="{% static item.image %}" alt="{{ item.dish_name }} image" class="menu-image" />
          <div class="menu-info">
            <label class="menu-name">{{ item.dish_name }}</label>
            <p class="menu-price">Price: ₹{{ item.price }}</p>
            <div class="menu-actions">

              <button class="add-button">Add</button>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="no-menu-message">Sorry, we don't have any menu today!</p>
    {% endif %}
  </section>
  
  
</form>
</section>
</section>
<script>
function filterMenu() {
const searchTerm = document.getElementById('search-bar').value.toLowerCase();
const selectedCategory = document.getElementById('category-filter').value;
const menuItems = document.querySelectorAll('.menu-item');

menuItems.forEach(item => {
  const itemName = item.querySelector('.menu-name').textContent.toLowerCase();
  const itemCategory = item.getAttribute('data-category');

  const matchesSearch = itemName.includes(searchTerm);
  const matchesCategory = selectedCategory === 'all' || itemCategory === selectedCategory;

  if (matchesSearch && matchesCategory) {
    item.style.display = 'block';
  } else {
    item.style.display = 'none';
  }
});
}
</script>  
{% endblock %}
